/test/jest/
/update.sh
/test/
/Makefile
/test.sh
/update-badge.sh
/.travis.yml
/.prettierignore
/coverage/
/stopsopa-validator*
/local.txt
/.idea/
/server.js
/yarn.lock
/log/
node_modules
yarn-error*
/local.txt
/karma_build/
/dev/
/.github/workflows/playwright.yml
/.nvmrc
/prettier.config.cjs
/webpack/
/webpack-KARMA.config.js

/karma.conf.js
/karma.sh
/package_karma.json
/travis.sh
/webpack-UMD.config.js
/comment.txt
/todo.txt
/examples.es5.js
/examples.es6.js
/webpack-EXAMPLES.config.js
/bash/
.vscode/



